{% extends "base.html" %}
{% block title %} SaneAgain - 404 ERROR {% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <img src="https://images.pexels.com/photos/4091/woman-dropped-fail-failure.jpg?cs=srgb&dl=pexels-gratisography-4091.jpg&fm=jpg" class="circle responsive-img" alt="404 giphy">
        <h1>4<i class="fas fa-sad-cry"></i>4</h1>
        <h2>Ooops!</h2>
        <p class="text">
            Looks like the page you're looking for has been <i>stolen</i>.<br /> I hope it didn't get <i>dumped</i>
            somewhere we can't find.<br /> I know, I know, these puns are <i>crappy</i>!
        </p>
        </span>
        <a class="floating-btn" href="index.html">
            Get back home
        </a>
    </div>
{% endblock %}